BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "flash_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "flash_sck" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "icb_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "leg[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leg[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leg[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leg[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leg[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leg[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leg[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leg[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ph" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "romc[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "romc[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "romc[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "romc[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "romc[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sram_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sram_sck" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "write" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "xtly" IO_TYPE=LVCMOS33 PULLMODE=NONE OPENDRAIN=OFF ;
IOBUF PORT "db[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io0[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io0[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io0[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io0[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io0[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io0[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io0[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io0[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io1[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io1[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io1[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io1[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io1[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io1[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io1[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io1[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_sck" SITE "E11" ;
LOCATE COMP "sram_cs" SITE "C12" ;
LOCATE COMP "write" SITE "E10" ;
LOCATE COMP "ph" SITE "F8" ;
LOCATE COMP "io0[3]" SITE "D7" ;
LOCATE COMP "db[3]" SITE "C7" ;
LOCATE COMP "db[2]" SITE "E6" ;
LOCATE COMP "io1[3]" SITE "C5" ;
LOCATE COMP "io0[1]" SITE "A10" ;
LOCATE COMP "io1[1]" SITE "D9" ;
LOCATE COMP "db[0]" SITE "B6" ;
LOCATE COMP "romc[0]" SITE "B5" ;
LOCATE COMP "io1[2]" SITE "D6" ;
LOCATE COMP "io0[2]" SITE "C4" ;
LOCATE COMP "db[1]" SITE "F7" ;
LOCATE COMP "io1[0]" SITE "B9" ;
LOCATE COMP "io0[0]" SITE "B7" ;
LOCATE COMP "romc[1]" SITE "A5" ;
LOCATE COMP "romc[2]" SITE "A4" ;
LOCATE COMP "romc[3]" SITE "A3" ;
LOCATE COMP "xtly" SITE "N3" ;
#LOCATE COMP "extres_n" SITE "H6" ;
LOCATE COMP "io0[4]" SITE "M2" ;
LOCATE COMP "db[4]" SITE "L2" ;
LOCATE COMP "io1[4]" SITE "L3" ;
LOCATE COMP "io1[5]" SITE "K4" ;
LOCATE COMP "db[5]" SITE "K1" ;
LOCATE COMP "io0[5]" SITE "J3" ;
LOCATE COMP "io0[6]" SITE "H2" ;
LOCATE COMP "db[6]" SITE "G2" ;
LOCATE COMP "io1[6]" SITE "F2" ;
LOCATE COMP "io1[7]" SITE "E2" ;
LOCATE COMP "db[7]" SITE "D2" ;
LOCATE COMP "io0[7]" SITE "C1" ;
#LOCATE COMP "intreq_n" SITE "B1" ;
LOCATE COMP "icb_n" SITE "E3" ;
LOCATE COMP "romc[4]" SITE "F5" ;
LOCATE COMP "led[0]" SITE "H11" ;
LOCATE COMP "led[1]" SITE "J13" ;
LOCATE COMP "led[2]" SITE "J11" ;
LOCATE COMP "led[3]" SITE "L12" ;
LOCATE COMP "led[4]" SITE "K11" ;
LOCATE COMP "led[5]" SITE "L13" ;
LOCATE COMP "led[6]" SITE "N15" ;
LOCATE COMP "led[7]" SITE "P16" ;
LOCATE COMP "uart_tx" SITE "C11" ;
# IOBUF PORT "cfg_sw[0]" IO_TYPE=LVCMOS33 ;
# IOBUF PORT "extres_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
# IOBUF PORT "intreq_n" IO_TYPE=LVCMOS33 ;
#IOBUF PORT "osc" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 SLEWRATE=FAST ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 SLEWRATE=FAST ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 SLEWRATE=FAST ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 SLEWRATE=FAST ;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 SLEWRATE=FAST ;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 SLEWRATE=FAST ;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 SLEWRATE=FAST ;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 SLEWRATE=FAST ;
SYSCONFIG MASTER_SPI_PORT=ENABLE CONFIGURATION=EXTERNAL ;
LOCATE COMP "uart_rx" SITE "A11" ;
LOCATE COMP "rst_n" SITE "B3" ;
#LOCATE COMP "cfg_sw[0]" SITE "N2" ;
#LOCATE COMP "osc" SITE "B4" ;
LOCATE COMP "clk_12m_in" SITE "C8" ;
IOBUF PORT "clk_12m_in" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
#USE PRIMARY NET "osc_c" ;
#FREQUENCY PORT "osc" 12.000000 MHz ;
FREQUENCY PORT "clk_12m_in" 12.000000 MHz ;
USE PRIMARY NET "clk_12m_in_c" ;
LOCATE COMP "sram_d[0]" SITE "E9" ;
LOCATE COMP "sram_d[1]" SITE "B12" ;
IOBUF PORT "sram_d[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_d[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "osc" SITE "D16" ;
IOBUF PORT "osc" IO_TYPE=LVCMOS33 PULLMODE=DOWN OPENDRAIN=OFF ;
IOBUF PORT "cfg_sw[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "cfg_sw[0]" SITE "N2" ;
LOCATE COMP "cfg_sw[1]" SITE "P1" ;
IOBUF PORT "cfg_sw[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
